.about{
    padding-top: 120px;
}

.about .container .about-title h2{
    font-size: var(--font-extra-large);
    color: var(--color-three);
    letter-spacing: 5px;
    margin-bottom: 50px;
    text-align: center;
}

.about .container .about-img{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}

.about .about-img .photo img{
    min-width: 150%;
    padding-top: 10px;
    border: 2px solid var(--color-four);
    border-radius: 10px;
}

.about .about-img .info{
    width: 50%;
}

.about .about-img .info span{
    color: var(--color-three);
    font-size: var(--font-large);
}

.about .about-img .info h1{
    color: var(--color-two);
    font-size: var(--font-extra-large);
}

.about .about-img .info h2{
    color: var(--color-three);
    font-size: var(--font-large);
    font-weight: 300;
    margin-bottom: 7px;
}

.about .about-img .info p{
    color: var(--color-three);  
    font-size: var(--font-medium);  
    text-align: justify;
}

.about .info .btn-curriculo{
    width: 180px;
    height: 40px;
    font-size: var(--font-medium);
    font-family: var(--font-1);
    background-color: var(--color-two);
    border-radius: 10px;
    border: none;
    margin-top: 20px;
}

.about .info .btn-curriculo a{
    padding: 30px 10px;
}