.footer{
    background-color: var(--color-three);
    padding: 50px 0px 25px;
}

.footer .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer .container h2{
    text-align: center;
    color: var(--color-one);
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 25px;
}

.box-message .botoes-form{
    display: flex;
    justify-content: center;
}

fieldset{
    border-radius: 10px;
    border: 2px solid var(--color-four);
}

legend{
    text-align: center;
    font-size: 2rem;
    padding: 0 10px;
    margin-bottom: 15px;
}

label{
    font-size: var(--font-standart);
    justify-content: flex-start;
    margin-left: 20px;
}

input{
    padding-left: 10px;
    font-family: var(--font-family-1);
    font-weight: 300;
    font-size: var(--font-medium);
}

fieldset input{
    display: flex;
    width: 90%;
    height: 40px;
    margin: 0 20px;
    background-color: var(--color-four);
    border: none;
}

textarea{
    display: flex;
    width: 90%;
    margin: 0 20px;
    background-color: var(--color-four);
    border: none;
    font-family: var(--font-family-1);
    font-weight: 300;
    padding-left: 10px;
    padding-top: 10px;
    font-family: var(--font-family-1);
    font-weight: 300;
    font-size: var(--font-medium);
    resize: none;
    }

.botoes-form .botao{
    font-size: var(--font-standart);
    font-weight: 400;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px 10px;
    cursor: pointer;
    background-color: var(--color-four);
}

.botoes-form .botao:hover{
    background-color: var(--color-five);
    color: var(--color-three);
    transform: scale(1.10);
    transition: 0.3s ease-in-out;
}

/* ESTILIZANDO INPUTS E CAMPO OBRIGATÓRIO */

.form .aceito {
    background-color: rgba(15, 221, 15, 0.5);
    color: var(--color-three);
}

.form .recusado {
    background-color: rgb(241, 11, 11, 0.5);
    color: var(--color-three);
}

.form .alertaOn {
    margin: 0 20px;
    color: rgb(241, 11, 11);
}

.form .alertaOff{
    opacity: 0;
}

/* REDES SOCIAIS */

.footer .container .social-media{
    display: flex;
    justify-content: center;
}

.footer .container .social-media a{
    color: var(--color-four);
}

.footer .container .social-media a:hover{
    color: var(--color-one);
    transform: scale(1.25);
}

.footer .container p{
    font-size: var(--font-standart);
}

.box-media-copy{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
}

.box-media-copy .copy p{
    text-align: center;
    font-size: 1.7rem;
}

@media(max-width: 1280px){
    .footer .container{
        padding: 0 30px;
    }

    .box-media-copy{
        flex-direction: column;
        margin-top: 20px;
    }

    .box-media-copy .copy p{
        margin-top: -10px;
        font-size: 1.2rem;
    }
}

@media(max-width: 425px){
    fieldset input{
        width: 88%;
    }
    
    textarea{
        width: 88%;
    }
}

@media(max-width: 375px){
    fieldset input{
        width: 86%;
    }
    
    textarea{
        width: 86%;
    }
}

@media(max-width: 320px){
    fieldset input{
        width: 84%;
    }
    
    textarea{
        width: 84%;
    }
}