.footer{
    background-color: var(--color-two);
    padding: 50px 0px 25px;
}

.footer .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer .container h2{
    text-align: center;
    color: var(--color-one);
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 50px;
}

.box-message .botoes-form{
    display: flex;
    justify-content: center;
}

fieldset{
    border-radius: 10px;
    border: 2px solid var(--color-three);
}

legend{
    text-align: center;
    font-size: 2rem;
    padding: 0 10px;
}

label{
    font-size: var(--font-standart);
    justify-content: flex-start;
    margin-left: 20px;
}

input{
    padding-left: 10px;
    font-family: var(--font-family-1);
    font-weight: 300;
    font-size: var(--font-medium);
}

fieldset input{
    display: flex;
    width: 90%;
    height: 40px;
    margin: 0 20px;
    background-color: var(--color-three);
    border: none;
}

textarea{
    display: flex;
    width: 90%;
    margin: 0 20px 20px;
    background-color: var(--color-three);
    border: none;
    font-family: var(--font-family-1);
    font-weight: 300;
}

textarea{
    padding-left: 10px;
    padding-top: 10px;
    font-family: var(--font-family-1);
    font-weight: 300;
    font-size: var(--font-medium);
}

.botoes-form input{
    font-size: var(--font-standart);
    font-weight: 400;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 10px;
    cursor: pointer;
    background-color: var(--color-three);
}

.botoes-form input:hover{
    background-color: var(--color-one);
    color: var(--color-two);
    transform: scale(1.10);
    transition: 0.3s ease-in-out;
}

.footer .container .social-media{
    display: flex;
    justify-content: center;
}

.footer .container .social-media a{
    color: #bd9f32;
}

.footer .container .social-media a:hover{
    color: var(--color-one);
    transform: scale(1.25);
}

.footer .container p{
    font-size: var(--font-standart);
    margin-top: 15px;
}

.box-media-copy{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
    gap: 30px;
}

.box-media-copy .copy p{
    text-align: center;
    font-size: 1.7rem;
}

@media(max-width: 1280px){
    .footer .container{
        padding: 0 30px;
    }

    .box-media-copy{
        flex-direction: column;
        margin-top: 50px;
    }

    .box-media-copy .copy p{
        margin-top: -10px;
        font-size: 1.2rem;
    }
}