section .intro-image{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
}

section .intro-image img{
    width: 100%;
}


@media(max-width: 1280px){
    section .intro-image img{  
        width: 100%;
    }
}

@media(max-width: 768px){
    section .intro-image img{  
        width: 80%;
    }
}