.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.skills .container .skills-title h2{
    font-size: var(--font-extra-large);
    color: var(--color-three);
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.skills .container .informacoes{
    border: 2px solid #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin: 40px;
    width: 350px;
}

.skills .container .informacoes i{
    font-size: 100px;
    color: var(--color-three);
    margin: 0px 80px;
}

.skills .container .informacoes h3{
    color: var(--color-two);
    font-size: var(--font-large);
}

.skills .container .informacoes p{
    color: var(--color-three);
    font-size: var(--font-standart);
}

@media(max-width: 1280px){
    .skills .container .informacoes i{
    margin: 1%;        
    }
}