*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

ul, li{
    list-style: none;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: #000;
}

img{
    max-width: 100%;
}

body{
    background-image: url(../images/abstrato.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: midnightblue;
    background-blend-mode: darken;
}

dd{
    margin-inline-start: 0;
}

.progress{
    -webkit-appearance: none;
    box-sizing: border-box;
}